<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SmlouvaWord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear/>
        <add name="Winkhaus" type="WinkhausCR.Bugs.BugsTextWriterTraceListener,WinkhausCR.Bugs" initializeData="SmlouvaWord.Error.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <SmlouvaWord.Properties.Settings>
      <setting name="TargetDirPath" serializeAs="String">
        <value>C:\export</value>
      </setting>
    </SmlouvaWord.Properties.Settings>
  </applicationSettings>
</configuration>